<ion-content>
  <ion-grid>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user1.png">
      </ion-avatar>
      <ion-label>
        <h3 class="text_title"> Ndoye Teranga</h3>
        <p>Bonjour Mr. J'espere que ca va bien. Les etudiants sont la entrain d'attendre</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">10:30</ion-text>
        <ion-badge type="success" class="unread_message_counter">2</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user2.png">
      </ion-avatar>
      <ion-label>
        <h3  class="text_title">Mour Dieng</h3>
        <p>Hello Mister Thie. Le plan de dev est ready</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">09:15</ion-text>
        <ion-badge type="success" class="unread_message_counter">1</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user3.png">
      </ion-avatar>
      <ion-label>
        <h3  class="text_title">Seyda Fatima</h3>
        <p>Vous: Damay deme hadara in sha Allah. Je te reviens</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">Vendredi</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user4.png">
      </ion-avatar>
      <ion-label>
        <h3  class="text_title">Poles IT HEPO</h3>
        <p>Vous: Demain il n'y aura pas cours</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">22:26</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user5.png">
      </ion-avatar>
      <ion-label>
        <h3  class="text_title">YaYe BoY</h3>
        <p>Bon anniversaire mon fils. Que Dieu veille sur toi</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">13:40</ion-text>
        <ion-badge type="success" class="unread_message_counter">1</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user6.png">
      </ion-avatar>
      <ion-label>
        <h3  class="text_title">Franzin</h3>
        <p>Rapelle des que tu finis la reunion.</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">Mercredi</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/images/user7.png">
      </ion-avatar>
      <ion-label>
        <h3  class="text_title">Krass Krass</h3>
        <p>Vous: Fami tana woo xoxoff feleiii</p>
      </ion-label>
      <ion-label slot="end" class="unread_message">
        <ion-text color="primary" class="unread_message_hour">Lundi</ion-text>
      </ion-label>
    </ion-item>

  </ion-grid>
</ion-content>
